{"configSettings":[{"appID":"SharedServerToken","serverToken":"STZDA53UEA3UWMUEBWTHMXOXRKS7SVIT"},{"appID":"1395920331121061","serverToken":"RKGM7CVBNNRDL7S2L2XL45PDIDBREZOE"},{"appID":"voiceSDK_en","serverToken":""},{"appID":"04b6d9fc-60b7-4d9e-8473-9290b9d1243f","serverToken":""},{"appID":"820483619962759","serverToken":"STZDA53UEA3UWMUEBWTHMXOXRKS7SVIT"}]}